<div class="row">
    <div class="col-sm-12">
        <div class="brands">
            <h3>Fetured brands</h3>
            <hr><hr><hr>
            <div class="owl-carousel owl-fetured-brand" data-dots="yes" data-nav="yes" data-loop="yes" data-items_xs="2" data-items_sm="4" data-items_md="6" data-margin="10" >
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-1.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-2.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-3.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-4.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-5.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-6.jpg" alt=""></a>
                </div>
                <div class="img-brand">
                    <a href="#"><img src="/static/img/demo/brands/brand-1.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>