<div id="content" class="col-xs-12 col-sm-12">
    <div class="module tab-slider titleLine">
        <h3 class="modtitle">Deals Of The Week</h3>
        <hr>
        <hr>
        <hr>

        <div class="owl-carousel owl-dead-week" data-dots="yes" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="2" data-items_md="2" data-margin="15" >
            <div class="product-layout ">
                <div class="product-item-container">
                    <div class=" left-block col-lg-6 col-md-6 col-sm-12  col-xs-12">
                        <div class="product-image-container  second_img ">
                            <a href="product.html" class="product-img"><img src="/static/img/demo/shop/product/product-1.jpg" alt=""></a>
                            <!--Sale Label-->
                            <span class="sale">-20%</span>

                            <div class="hover">
                                <ul>
                                    <li class="icon-heart"><a class="wishlist"   data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
                                    <li class="icon-exchange"><a class="compare"   data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
                                    <li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="time-offer-end">
                            <div class="title">Hurry Up! Offer ends in:</div>

                            <div class="time-box">

                            </div>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Dummy product #1</a></h4>	
                            <div class="description item-desc">
                                <p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star "></i></span>
                                </div>
                            </div>

                            <div class="price">
                                <span class="price-new">$74.00</span>
                                <span class="price-old">$122.00</span>		   
                            </div>

                        </div>

                        <div class="button-group">
                            <button class="addToCart btn btn-default "   data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
                        </div>
                    </div><!-- right block -->
                </div>
            </div>

            <div class="product-layout ">
                <div class="product-item-container ">
                    <div class=" left-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-image-container  second_img ">
                            <a href="product.html" class="product-img"><img src="/static/img/demo/shop/product/product-2.jpg" alt=""></a>
                            <!--Sale Label-->
                            <span class="sale">-15%</span>

                            <div class="hover">
                                <ul>
                                    <li class="icon-heart"><a class="wishlist"   data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
                                    <li class="icon-exchange"><a class="compare"   data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
                                    <li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="time-offer-end">
                            <div class="title">Hurry Up! Offer ends in:</div>

                            <div class="time-box time-box-2">

                            </div>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Dummy product #2</a></h4>	
                            <div class="description item-desc">
                                <p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat . </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star "></i></span>
                                </div>
                            </div>

                            <div class="price">
                                <span class="price-new">$87.00</span>
                                <span class="price-old">$122.00</span>		   
                            </div>

                        </div>

                        <div class="button-group">
                            <button class="addToCart btn btn-default "   data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
                        </div>
                    </div><!-- right block -->
                </div>
            </div>

            <div class="product-layout ">
                <div class="product-item-container ">
                    <div class=" left-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-image-container  second_img ">
                            <a href="product.html" class="product-img"><img src="/static/img/demo/shop/product/product-3.jpg" alt=""></a>
                            <!--Sale Label-->
                            <span class="sale">-25%</span>

                            <div class="hover">
                                <ul>
                                    <li class="icon-heart"><a class="wishlist"   data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
                                    <li class="icon-exchange"><a class="compare"   data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
                                    <li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="right-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="time-offer-end">
                            <div class="title">Hurry Up! Offer ends in:</div>

                            <div class="time-box">
                                <div class="day-time time">
                                    <div class="num-day num-time">356</div>
                                    <div class="name-day name-time">Days</div>
                                </div>
                                <div class="hour-time time">
                                    <div class="num-hour num-time">23</div>
                                    <div class="name-hour name-time">Hours</div>
                                </div>
                                <div class="min-time time">
                                    <div class="num-min num-time">56</div>
                                    <div class="name-min name-time">Mins</div>
                                </div>
                                <div class="sec-time time">
                                    <div class="num-sec num-time">33</div>
                                    <div class="name-sec name-time">Secs</div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">Dummy product #01</a></h4>	
                            <div class="description item-desc">
                                <p>Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. </p>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star "></i></span>
                                </div>
                            </div>

                            <div class="price">
                                <span class="price-new">$68.00</span>
                                <span class="price-old">$122.00</span>		   
                            </div>

                        </div>

                        <div class="button-group">
                            <button class="addToCart btn btn-default "   data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
                        </div>
                    </div><!-- right block -->
                </div>
            </div>
        </div>

    </div>
</div>