<!-- Main Container  -->
<div class="main-container container">
    <ul class="header-main ">
        <li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li class="home"><a href="/minha-conta">Minha Conta   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li class="home"><a href="/minha-conta/enderecos">Endereços   </a></li>
    </ul>
    
    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
            <div id="new_address_form_root"></div>
        </div>

        <!--Middle Part End-->
        <!--Right Part Start -->
        <aside class="col-sm-3 hidden-xs" id="column-right">
            {{> account/menu }}
        </aside>
        <!--Right Part End -->
    </div>
</div>
<!-- //Main Container -->