<section class="col-lg-3 hidden-sm hidden-md hidden-xs slider-products">
    <div class="module latest-product titleLine">
        <h3 class="modtitle">Latest Product</h3>
        <hr>
        <hr>
        <hr>
        <div class="modcontent ">
            <div class="product-latest-item">
                <div class="media">
                    <div class="media-left">
                        <a href="/site/produto/slug"><img src="/static/img/demo/shop/product/product-3.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h4><a href="/site/produto/slug">Sunt Molup</a></h4>

                            <div class="price">
                                <span class="price-new">$100.00</span>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="product-latest-item">
                <div class="media">
                    <div class="media-left">
                        <a href="/site/produto/slug"><img src="/static/img/demo/shop/product/product-1.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h4><a href="/site/produto/slug">Et Spare</a></h4>

                            <div class="price">
                                <span class="price-new">$99.00</span>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star "></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="product-latest-item">
                <div class="media">
                    <div class="media-left">
                        <a href="/site/produto/slug"><img src="/static/img/demo/shop/product/product-2.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h4><a href="/site/produto/slug">Cisi Chicken</a></h4>

                            <div class="price">
                                <span class="price-new">$59.00</span>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="product-latest-item transition">
                <div class="media">
                    <div class="media-left">
                        <a href="/site/produto/slug"><img src="/static/img/demo/shop/product/product-4.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height:104px;"></a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h4><a href="/site/produto/slug">Kevin Labor</a></h4>
                            <div class="price">
                                <span class="price-new">$245.00</span>
                            </div>
                            <div class="ratings">
                                <div class="rating-box">
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class=""><i class="fa fa-star "></i></span>
                                    <span class="gray"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="module">
        <div class="modcontent clearfix">
            <div class="banners">
                <div>
                    <a href="#"><img src="/static/img/demo/cms/left-image-static.png" alt="left-image"></a>
                </div>
            </div>

        </div>
    </div>
</section>
</div>