<div class="module col-sm-12 hidden-xs">
    <div class="modcontent clearfix">
        <div class="banner-wraps ">
            <div class="m-banner ">
                <div class="banners htmlconten1 row">
                    <div class="banners banner1-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div>
                            <a href="#"><img src="/static/img/demo/banner/banner1-1.jpg" alt="banner1"></a>
                        </div>
                    </div>
                    <div class=" banners banner1-2 col-sm-6 col-xs-12">
                        <div>
                            <a href="#"><img src="/static/img/demo/banner/banner1-2.jpg" alt="banner1"></a>
                        </div>
                    </div>
                </div>
                <div class="htmlconten2 row">
                    <div class="banners banner2-1 col-sm-3 col-xs-12">
                        <div>
                            <a href="#"><img src="/static/img/demo/banner/banner2-1.jpg" alt="banner1"></a>
                        </div>
                    </div>
                    <div class="banners banner2-2 col-sm-6 col-xs-12">
                        <div>
                            <a href="#"><img src="/static/img/demo/banner/banner2-2.jpg" alt="banner1"></a>
                        </div>
                    </div>
                    <div class="banners banner2-3 col-sm-3 col-xs-12">
                        <div>
                            <a href="#"><img src="/static/img/demo/banner/banner2-3.jpg" alt="banner1"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>