<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 featured">
    <div class="module latest-product titleLine">
        <h3 class="modtitle">Featured</h3>
        <hr>
        <hr>
        <hr>
        <div class="modcontent">
            <div class="owl-carousel owl-featured" data-nav="yes" data-loop="yes" data-margin="0" data-items_xs="1" data-items_sm="1" data-items_md="1">
                <div class="product-latest-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-3.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Sunt Molup</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$78.00</span>
                                    <span class="price-old">$105.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-4.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Et Spare</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class="gray"><i class="fa fa-star "></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$145.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-5.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Cisi Chicken</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class="gray"><i class="fa fa-star"></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$72.00</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-latest-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-3.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Sunt Molup</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$78.00</span>
                                    <span class="price-old">$105.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-4.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Et Spare</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class="gray"><i class="fa fa-star "></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$145.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="product.html"><img src="/static/img/demo/shop/product/product-5.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
                        </div>
                        <div class="media-body">
                            <div class="caption">
                                <h4><a href="product.html">Cisi Chicken</a></h4>


                                <div class="ratings">
                                    <div class="rating-box">
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class=""><i class="fa fa-star "></i></span>
                                        <span class="gray"><i class="fa fa-star"></i></span>
                                    </div>
                                </div>
                                <div class="price">
                                    <span class="price-new">$72.00</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>