<div class="module no-margin titleLine col-sm-12 latest-blog">
    <h3 class="modtitle">Latest Blog</h3>
    <hr><hr><hr>
    <div class="latest-blog-owl">
        <div class="owl-carousel latest-owl" data-dots="yes" data-nav="yes" data-loop="yes" data-items_xs="1" data-items_sm="3" data-items_md="4" data-margin="10" >
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-1.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-2.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-3.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-4.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-5.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
            <div class="itemBlogImg">
                <div class="article-image ">
                    <div>
                        <div class="day">
                            <p>24</p>
                            <p>Dec</p>
                        </div>

                        <a class="popup-gallery" href="blog-detail.html"><img src="/static/img/demo/blog/blog-6.jpg" alt="Kire tuma demonstraverunt lector">
                            <p class="text">Lorem Ipsum is simply dummy text of the printing.</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>