<!-- Block Spotlight3  -->
<section class="so-spotlight3">
    <div class="container">
        <div class="row">
            <div id="so_categories_173761471880018" class="so-categories module titleLine preset01-4 preset02-3 preset03-3 preset04-1 preset05-1">
                {{> newsletter_module }}
            </div>
        </div>

        {{> home/featured_brands }}
    </div>
</section>