<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body class="common-home res layout-home1">
    <div id="root"></div>
    <div id="wrapper" class="wrapper-full banners-effect-7">
        {{{body}}}
    </div>

    {{> admin_js }}
</body>

</html>