{{> home/spotlight1 }}

<!-- Main Container  -->
<div class="main-container container">
    <div class="row">
        {{> home/slider1 }}
    </div>

    <div class="row">
        {{> home/banners1 }}
    </div>
    
    <div class="row">
        {{> home/smartphone_tablet }}
    </div>

    <div class="row">
        {{> home/spotlight3 }}
    </div>    
</div>
