<!-- Main Container  -->
<div class="main-container container">
    <ul class="header-main ">
        <li class="home">
            <a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li>  Criar conta</li>
    </ul>
    
    <div class="row">
        <div id="content" class="col-sm-12">
            <div id="register_form_root"></div>
        </div>
    </div>
</div>
<!-- //Main Container -->