<!-- Main Container  -->
<div class="main-container container">
    <ul class="header-main">
        <li class="home"><a href="index.html" >Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li> Smartphone &amp; Laptop</li>
    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3 type-1" id="column-left">
            {{> search/categories }}
            {{> search/latest_products }}
            {{> search/banner }}
        </aside>
        <!--Left Part End -->

        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8 type-1">
            <div class="products-category">
                <!-- Filters -->
                <div>
                    <h3>Featured Products</h3>
                </div>
                <div class="category-derc form-group">
                    <div class="row">
                        <div class="col-sm-4"><img src="/static/img/demo/shop/category/smartphone-tablets.jpg" alt="Apple Cinema 30&quot;"></div>
                        <div class="col-sm-8">
                            <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantium doloremque laudantium. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. </p>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. </p>
                        </div>
                    </div>
                </div>

                {{> search/result_listing }}
            </div>
        </div>
    </div>
    <!--Middle Part End-->
</div>
<!-- //Main Container -->