<div class="main-container container">
    <ul class="header-main ">
        <li class="home"><a href="#">Home   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
        <li> Shopping Cart</li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h2 class="title">Seus produtos</h2>

            <div id="shopping_cart_root"></div>
        </div>
    </div>
</div>