<title>
    Title
</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=ANALYTICS_CODE"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'ANALYTICS_CODE');
</script>
<meta name="description" content="Description">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta name="robots" content="index, follow">
<link rel="shortcut icon" href="/static/ico/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/ico/favicon.png" type="image/x-icon">
<meta name="keywords"
    content="KEYWORDS" />
<meta name="google-site-verification" content="VERIFICATION_STRING" />

{{> css }}