<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
				<div class="tabBlock1" id="TabBlock-1">
					<ul class="top-link list-inline">
						<li class="wishlist hidden-xs"><a href="#" id="wishlist-total" class="top-link-wishlist" title="Welcome Customer!"><span>Welcome Customer!</span></a></li>
						<li class="signin"><a href="/login" class="top-link-checkout" title="Entrar"><span>Entrar</span></a></li>
						<li class="register"><a href="/registrar" title="Criar conta"><span>Criar conta</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header-center left">
	<div class="container">
		<div class="row">
			<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
				<a href="/"><img src="/static/img/demo/logo/logo.png" title="Your Store" alt="Your Store"></a>
			</div>

			<div id="sosearchpro" class="col-xs-12 col-sm-8 col-md-5 search-pro">
				<form method="GET" action="/busca">
					<div id="search0" class="search input-group">
						<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Pesquisar produto" name="term">
						<span class="input-group-btn">
							<button type="submit" class="button-search btn btn-primary"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
				<div class="header-text hidden-xs">
					<p><i class="fa fa-phone" aria-hidden="true"></i>Call Us: (888) 123456789</p>
				</div>
				<div id="header_cart"></div>
			</div>
		</div>
	</div>
</div>