<div class="module banner-left">
    <div class="modcontent clearfix">
        <div class="banners">
            <div>
                <a href="product.html" class="product-img"><img src="/static/img/demo/cms/left-image-static.png" alt="left-image"></a>
            </div>
        </div>

    </div>
</div>