<!-- Filters -->
<div class="product-filter filters-panel">
    <div class="row">
        <div class="col-md-5 visible-lg">
            <div class="view-mode">
                <div class="list-view">
                    <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip" data-original-title="Grid"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                    <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
                </div>
            </div>
        </div>
        <div class="short-by-show form-inline text-right col-lg-7 col-sm-12 col-xs-12">
            <div class="text">
                <p>item 01 - 16 of 47 total</p>
            </div>
            <div class="box-pagination text-right">
                <ul class="pagination">
                    <li class="active"><span>1</span></li>
                    <li><a href="#" >2</a></li>
                    <li><a href="#" >3</a></li>
                    <li><a href="#" >4</a></li>
                    <li><a href="#" ><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //end Filters -->