<!DOCTYPE html>
<html lang="pt-br">

<head>
    {{> head }}
</head>

<body class="common-home res layout-home1">
    <div id="root"></div>
    <div id="wrapper" class="wrapper-full banners-effect-7">
        <!-- Header Container  -->
        <header id="header" class=" variantleft type_1">
            {{> header }}
            {{> main_menu }}
        </header>

        {{{body}}}
    </div>

    {{> main_footer }}
    
    {{> js }}
</body>

</html>