<!-- Header Top -->
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="header-top-left form-inline col-sm-6 col-xs-6 compact-hidden">

			</div>
			<div class="header-top-right collapsed-block text-right  col-sm-6 col-xs-6 compact-hidden">
				<div class="tabBlock1" id="TabBlock-1">
					<ul class="top-link list-inline">
						<li class="wishlist hidden-xs"><a href="#" id="wishlist-total" class="top-link-wishlist"
								title="Welcome Customer!"><span>Welcome Customer!</span></a></li>
						<li class="signin"><a href="/site/login" class="top-link-checkout"
								title="Sign In"><span>Entrar</span></a></li>
						<li class="register"><a href="/site/registrar" title="Register"><span>Registrar-se</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Header Top -->

<!-- Header center -->
<div class="header-center left">
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="navbar-logo col-md-3 col-sm-12 col-xs-7">
				<a href="/site"><img src="/static/img/demo/logo/logo.png" title="Your Store" alt="Your Store"></a>
			</div>
			<!-- //end Logo -->

			<!-- Search -->
			<div id="sosearchpro" class="col-xs-12 col-sm-8 col-md-5 search-pro">

				<form method="GET" action="index.html">
					<div id="search0" class="search input-group">
						<input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off"
							placeholder="Search product..." name="search">
						<span class="input-group-btn">
							<button type="submit" class="button-search btn btn-primary" name="submit_search"><i
									class="fa fa-search"></i></button>
						</span>
					</div>

				</form>

			</div>
			<!-- //end Search -->

			<!-- Secondary menu -->
			<div class="col-md-4 col-sm-4 col-xs-5 shopping_cart pull-right">
				<div class="header-text hidden-xs">
					<p><i class="fa fa-phone" aria-hidden="true"></i> Call Us: (888) 123456789</p>
				</div>
				<!--cart-->
				<div id="header_cart"></div>
			</div>
		</div>

	</div>
</div>
<!-- //Header center -->